<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>{{ title }}</h2>

        <ul class="list-group">
            {% for ingredient in ingredients %}
                <li class="list-group-item">
                    <p>{{ ingredient }}</p>
                </li>
            {% endfor %}
        </ul>

        <div>
            <p><strong>Instructions:</strong></p>
            <pre>{{ ins }}</pre>  <!-- Using <pre> to preserve newlines -->
        </div>
    </div>
</body>
</html>
